In [9]:
import pandas as pd
import monpa
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

+---------------------------------------------------------------------+
  Welcome to MONPA: Multi-Objective NER POS Annotator for Chinese
+---------------------------------------------------------------------+
已找到 model檔。Found model file.

In [10]:

train_data = pd.read_csv("./dataset/train_data.csv")
test_data = pd.read_csv("./dataset/test_data.csv")
train_data.head()

,id,post_time,content,rise,post_id,segmented_content
0,1648702747917_1_NEW_F02UT,2022-03-30,看你要做多久\n短期就追高殺低（找會波動的標地\n久的就逢低買進（找穩定的標地\n\n聽說是這樣,-1.0,3795,"['看', '你', '要', '做', '多', '久', ' ', '短期', '就',..."
1,1646585147451_F01,2022-03-07,個人比較喜歡車<BR>可能會拿個3 400萬最多不超過500買吧<BR>或是低價買入有V12...,-1.0,69096,"['個人', '比較', '喜歡', '車', '<', 'BR', '>', '可能', ..."
2,1656648774271_F01,2022-07-01,確實很慘，但，不意外,-1.0,79682,"['確實', '很', '慘', '，', '但', '，', '不', '意外']"
3,1683862733956_mobileR,2023-05-12,天上不會掉餡餅，一般情況下掉的都是鳥屎,1.0,112863,"['天上', '不會', '掉', '餡餅', '，', '一般', '情況', '下', ..."
4,1691022982268_F0DCU,2023-08-02,會賠到8%證明你完全不知道自己在幹嘛,-1.0,54783,"['會', '賠到', '8', '%', '證明', '你', '完全', '不', '知..."

In [17]:
monpa.use_gpu(True)
count_vectorizer = CountVectorizer(stop_words=chinese_stopwords,tokenizer=monpa.cut)
filtered_train_data = train_data[train_data['content'].notnull()]
X = count_vectorizer.fit_transform(filtered_train_data["content"])

In [18]:
count_vectorizer.get_feature_names_out()

array([' ', '  ', '   ', ..., '\U0001fae3', '\U0001faf6', '𠕇'],
      dtype=object)

In [20]:
pd.DataFrame(X.toarray(), columns=count_vectorizer.get_feature_names_out())

,,,,,,,,,,,...,🦔,🦔,🧐,🫠,🫡,🫡🫡,🫢,🫣,🫶,𠕇
0,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4948,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4949,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4950,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4951,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4952,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0